body{
    font-family: "Microsoft YaHei";
    background-image: url(./images/background.gif);
    text-align: center;
}
h1{
    letter-spacing: 2px;
}
h2{
    color: #333;
    font-size: 22px;
}
p{
    color: #333;
    font-size: 16px;
    line-height: 2em;
}
a{
    font-size: 20px;
    text-decoration: none;
}
table{
    margin:0 auto
}